<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--<meta http-equiv="x-ua-compatible" content="ie=edge">-->
        <title>Adventurer – One Page Creative HTML5 Page Template</title>

        {% block stylesheets %}
            <!-- Font Awesome -->
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,300,300italic,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
            <!-- Material Design Bootstrap -->
            <link href="../templates/css/materialize.css" rel="stylesheet">
            <!-- Magnific-popup css -->
            <link href="../templates/css/magnific-popup.css" rel="stylesheet">
            <!-- Bootstrap core CSS -->
            <link href="../templates/css/bootstrap.min.css" rel="stylesheet">
            <!-- Material Design Bootstrap -->
            <!--<link href="css/progressbar.css" rel="stylesheet">-->
            <!-- Material Design Bootstrap -->
            <link href="../templates/css/mdb.min.css" rel="stylesheet">
            <!-- Your custom styles (optional) -->
            <link href="../templates/css/style.css" rel="stylesheet">
            <link href="../templates/css/responsive.css" rel="stylesheet">
        {% endblock %}

        
            
        
    </head>
    <body data-spy="scroll" data-target=".navbar-desktop">

        <div class='preloader'><div class='loaded'>&nbsp;</div></div>

        {% block body %}
        {% endblock %}

        {% block javascripts %}
            <!-- SCRIPTS -->
            <!-- JQuery -->
            <script type="text/javascript" src="../templates/js/jquery-2.2.3.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="../templates/js/tether.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="../templates/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="../templates/js/mdb.min.js"></script>
            <!-- Wow js -->
            <script type="text/javascript" src="../templates/js/wow.min.js"></script>
            <!-- Mixitup js -->
            <script type="text/javascript" src="../templates/js/jquery.mixitup.min.js"></script>
            <!-- Magnific-popup js -->
            <script type="text/javascript" src="../templates/js/jquery.magnific-popup.js"></script>
            <!-- accordion js -->
            <script type="text/javascript" src="../templates/js/accordion.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="../templates/js/materialize.js"></script>
            <script>
                $(".button-collapse").sideNav();
            </script>
            <!-- wow js active -->
            <script type="text/javascript">
                new WOW().init();
            </script>
            <script type="text/javascript" src="../templates/js/plugins.js"></script>
            <script type="text/javascript" src="../templates/js/main.js"></script>
        {% endblock %}
    </body>
</html>
